<div>
  <button class="btn btn-primary mr-2" (click)="addEtfAllocation()">Add</button>
  <button class="btn btn-primary" (click)="calculateAllocation()">Calculate</button>
  <form>
    <div class="row mt-2" *ngFor="let etfAllocation of etfAllocationList; let index = index">
      <div class="col">
        <ng-select [(ngModel)]="etfAllocation.etf" name="etf">
          <ng-option *ngFor="let etf of allEtfs" [value]="etf" name="etf">{{etf.name}}</ng-option>
       </ng-select>
      </div>
      <div class="col">
        <input type="text" class="form-control" placeholder="Percent" [(ngModel)]="etfAllocation.allocation" name="allocation">
      </div>
      <div class="col">
        <button class="btn btn-danger" (click)="deleteEtfAllocation(index)">Delete</button>
      </div>
    </div>
  </form>
  <div class="row mt-2">
    <div class="col">
      <table class="table table-sm">
        <thead>
          <tr>
            <th>Country</th>
            <th>Allocation, %</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let line of result">
            <td>{{line.country.name}}</td>
            <td>{{line.allocation}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>