<h1>ETF Country Allocation</h1>
<h3 *ngIf="etf !== null">{{etf.name}}</h3>
<button class="btn btn-secondary" (click)="addAllocation()">+</button>
<table class="table table-sm">
    <thead>
        <tr>
            <th>#</th>
            <th>Страна</th>
            <th>%</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let allocation of allocations; index as i;">
            <td>{{allocation.country.name}}</td>
            <td>
                <ng-select [(ngModel)]="allocation.country">
                    <ng-option *ngFor="let country of allCountries" [value]="country">{{country.name}}</ng-option>
                 </ng-select>
            </td>
            <td>
                <input type="text" class="form-control" [(ngModel)]="allocation.allocation">
            </td>
            <td>
                <button class="btn btn-danger" (click)="deleteAllocation(i)">Delete</button>
            </td>
        </tr>
    </tbody>
</table>
<button class="btn btn-primary" (click)="saveAllocation()">Save</button>